@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

:root{
    --corborda: rgb(30, 100, 128);
    --background-color: rgb(0, 0, 0);
    --background-color-page: rgb(255, 255, 255);
}


body{
    font-family: "Doto", serif;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--background-color-page);
    color:var(--corborda);
}

a{
  color: var(--corborda);
  text-decoration: none;
}
a:hover{
  font-size: .9rem;
}
#jogo{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--background-color);
    border-top: .5rem solid var(--corborda);
    border-left: .5rem solid var(--corborda);
    border-right: .5rem solid var(--corborda);
}

.ranking{
    width: 400px;
    text-align: center;
}

#ranking{
    text-align: start;
}

@media screen and (max-width: 1000px){
    body{
        display: grid;
        grid-column: auto;
        justify-items: center;
    }
}

@media(prefers-color-scheme: dark){
    :root{
        --corborda: rgb(210, 236, 247);
        --background-color: rgb(49, 49, 56);
        --background-color-page : black;
    }

}

.computador{
    display: flex;
    align-items: center;
    height: 60px;
}


.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  width: 74px;
  height: 36px;
  scale: 0.6;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #393939;
  transition: 0.3s ease all;
  z-index: 1;
}

#button .knobs:before,
#button .knobs:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #989898;
  border-radius: 50%;
  transition: 0.3s ease all;
}

#button .knobs:before {
  content: "";
}

#button .knobs:after {
  content: "";
  right: -28px;
  left: auto;
  background-color: #8f44fd;
}

#button .checkbox:checked + .knobs:before {
  left: -28px;
}

#button .checkbox:checked + .knobs:after {
  right: 4px;
}

#button-2 .checkbox:checked ~ .layer {
  background-color: rgb(143 68 253 / 37%);
}